@use 'variaveis';
@use 'personagens';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background: variaveis.$background;
}

    header{
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1;
        padding: 15px 10%;
        transition: variaveis.$background .5s;
        padding: 8px 24px;

        img {
            max-width: 120px;
            width: 100%;
            margin: 5px;
            transition: opacity .5 ease;
        }

        ul {
            display: flex;

            li {
                margin: 16px;
                transition: opacity .5 ease;
                
                a {
                    font-family: 'Lilita One', sans-serif;
                    font-size: 18px;
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }

    .social-links {
        display: flex;
        justify-content: space-between;
        max-width: 240px;
        width: 100%;
        margin: 0 auto;
        list-style: none;   

        li img {
            transition: all ease 0.3s;
        }
        
        li img:hover {
            transform: scale(1.3);
        }
}

.image {
    display: flex;
    background-color: lighten( variaveis.$background, 7%);
    padding: 4.5vw;

    img {
        width: 720px;
        margin-top: 56px;
        border-radius: 100px;
        box-shadow: 12px 12px 20px black, -12px -12px 20px black;
    }

    div {
        background-color: lighten( variaveis.$background, 7%);

        h2 {
            background-color: lighten( variaveis.$background, 7%);
            margin-left: 32px;
            text-align: center; 
            margin-top: 32px;
        }

        p {
            background-color: lighten( variaveis.$background, 7%);
        }
    }
}

.main {
    margin-top: 32px;

    h3 {
        font-family: 'Lilita One', sans-serif;
        font-size: 24px;
        text-align: center;
    }

    a {
        padding: 16px;
        border-radius: 8px;
        text-align: center;
        margin-top: 32px;

        &:hover {
            background-color: lighten( variaveis.$background, 25%);
        }
    }
}

.footer {
    text-align: center; 
    font-size: 16px;
    color: white;
    margin-bottom: 56px;

    p {
        padding: 24px;
        background-color: lighten( variaveis.$background, 7%);
        font-family: 'Lilita One', sans-serif;
    }
}



